<!doctype html>
{% load static %}

<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
      <title>WebShell Detection</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
              <!-- main css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head>
  <body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu" id="mainNav">
          <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"> 主页 </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'analysis' %}"> 脚本分析 </a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'about' %}"> 关于 </a></li>
          </ul>
        </div>
      </div>
          </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <section class="feature_area p_120">
      <div class="container">
        <div class="main_title">
          <h2> Web Shell 脚本检测 </h2>
          <p>本项目提供 PHP Web Shell 的危害分析，基于朴素贝叶斯、深度神经网络与卷积神经网络三种方法。</p>
        </div>
        <div class="feature_inner">
          <div class="feature_panel sample-text-area">
            <h3 class="text-heading title_color"> 项目说明 </h3>
            <p class="sample-text">
              <b> 所用的有害 PHP 脚本列表，均来自于 Github：</b>
              <ul>
                <li><a href="https://github.com/bartblaze/PHP-backdoors">bartblaze：PHP-backdoors</a></li>
                <li><a href="https://github.com/BlackArch/webshells">BlackArch：webshells</a></li>
                <li><a href="https://github.com/dotcppfile/DAws">dotcppfile：DAws</a></li>
                <li><a href="https://github.com/JohnTroony/php-webshells">JohnTroony：php-webshells</a></li>
                <li><a href="https://github.com/mattiasgeniar/php-exploit-scripts">mattiasgeniar：php-exploit-scripts</a></li>
                <li><a href="https://github.com/tanjiti/webshellSample">tanjiti：webshellSample</a></li>
                <li><a href="https://github.com/tdifg/WebShell">tdifg：Webshell</a></li>
                <li><a href="https://github.com/tennc/webshell">tennc：webshell</a></li>
                <li><a href="https://github.com/testsecer/WebShell">testsecer：WebShell</a></li>
                <li><a href="https://github.com/xl7dev/WebShell">xl7dev：WebShell</a></li>
                <li><a href="https://github.com/ysrc/webshell-sample">ysrc：webshell-sample</a></li>
              </ul>
            </p>
            <p class="sample-text text-danger"> 仅供学习和模型测试用，切勿用于其他用途！ </p>
            <p class="sample-text">
              <b> 所用的正常 PHP 脚本列表，均来自于 Github 高星开源项目：</b>
              <ul>
                <li><a href="https://github.com/bcit-ci/CodeIgniter">CodeIgniter</a></li>
                <li><a href="https://github.com/laravel/laravel">laravel</a></li>
                <li><a href="https://github.com/phpmyadmin/phpmyadmin">phpmyadmin</a></li>
                <li><a href="https://github.com/symfony/symfony">symfony</a></li>
                <li><a href="https://github.com/typecho/typecho">typecho</a></li>
                <li><a href="https://github.com/WordPress/WordPress">WordPress</a></li>
                <li><a href="https://github.com/yiisoft/yii2">yii2</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--================Footer Area =================-->
    <footer class="footer_area p_60">
      <div class="container">
        <div class="row footer_inner">
          <div>
            <aside class="f_widget ab_widget">
              <div class="f_title">
                <h3> 关于本项目 </h3>
              </div>
              <p> 本项目中的测试训练样本均来源于网络，在项目"关于"页有说明，请勿恶意传播！</p>
            </aside>
          </div>
        </div>
      </div>
    </footer>
    <!--================End Footer Area =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
  </body>
</html>