{% extends 'analysis/base.html' %}

{% block content %}
<div class="main" id="id_main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- FIRST PANEL -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3>Analysis Incidents</h3>
                    <p class="panel-subtitle">Deep learning methods to make predictions</p>
                </div>
                <div class="panel-body">
                    <p>Under construction...</p>
                </div>
            </div>
            <!-- END FIRST PANEL -->
            </div>
        </div>
    </div>
</div>

{% endblock %}




