/*----------------------------------------
  App Sidebar (Common file)
------------------------------------------*/
.sidebar-left
{
    float: left;
}

.sidebar-right
{
    float: right;
}

.small-icons
{
    font-size: 1.25rem;
    line-height: 1.65rem;
}

.sidebar
{
    /* width: 280px; 不需要长度限制*/
}
.sidebar .sidebar-content .sidebar-header
{
    position: relative;
    /* 设置好距离 */
    /* top: 50px; */
    /* height: 185px; */
    top: 30px;
    height: 80px;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .sidebar-title
{
    font-weight: 700;
    line-height: 2.25rem;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .text-muted
{
    font-size: .8rem;

    margin-top: .1rem;

    color: #757575;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .app-header-icon
{
    font-size: 2.3rem;

    vertical-align: bottom;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .media-image
{
    line-height: 1rem;

    padding-right: 0 !important;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .media-image img
{
    width: 85%;
}
.sidebar .sidebar-content .sidebar-header .sidebar-details .name
{
    color: #263238;
}
.sidebar .sidebar-content .app-sidebar .sidebar-title
{
    font-weight: 700;

    padding: 15px 8px;

    text-transform: uppercase;

    color: #212121;
}
.sidebar .sidebar-content .sidenav-trigger
{
    display: none;
}
.sidebar .sidebar-content .sidebar-menu#sidebar-list
{
    position: absolute;

    overflow: hidden;

    width: 280px;
    height: -webkit-calc( 100vh - 325px);
    height:    -moz-calc( 100vh - 325px);
    height:         calc( 100vh - 325px);
    margin-left: -1.4rem;
    padding-left: 1.4rem;
}
.sidebar .sidebar-content .sidebar-menu ul
{
    line-height: 1.5rem;
}
.sidebar .sidebar-content .sidebar-menu ul li
{
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 5px;

    cursor: pointer;
}
.sidebar .sidebar-content .sidebar-menu ul a
{
    line-height: 1.75rem;

    padding: .5rem;

    vertical-align: top;

    color: #757575;
}
.sidebar .sidebar-content .sidebar-menu ul li.active
{
    margin-left: -1.8rem;
    padding-left: 1.8rem;

    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #2196f3;
    -webkit-box-shadow: 0 0 8px 0 #2196f3;
            box-shadow: 0 0 8px 0 #2196f3;
}
.sidebar .sidebar-content .sidebar-menu ul li.active a
{
    color: #fff;
}
.sidebar .sidebar-content .sidenav-trigger
{
    position: absolute;
    top: 90px;
    left: 17px;

    display: none;
}

.page-header-dark .sidebar .sidebar-content .sidebar-header .sidebar-details .sidebar-title
{
    color: #fff;
}

.page-header-dark .sidebar .sidebar-content .sidebar-header .sidebar-details .subtitle
{
    color: #cfd8dc;
}

.page-header-dark .sidebar .sidebar-content .sidebar-header .sidebar-details p
{
    color: #f5f5f5;
}

.page-header-dark .sidebar .sidebar-content .sidenav-trigger i
{
    color: #fff;
}

@media (min-width: 900px)
{
    .app-sidebar
    {
        -webkit-transform: none !important;
           -moz-transform: none !important;
            -ms-transform: none !important;
             -o-transform: none !important;
                transform: none !important;
    }
    .sidenav-overlay
    {
        display: none !important;

        opacity: 0 !important;
    }
}

@media (max-width: 900px)
{
    .app-sidebar
    {
        -webkit-transform: translateX(-105%);
           -moz-transform: translateX(-105%);
            -ms-transform: translateX(-105%);
             -o-transform: translateX(-105%);
                transform: translateX(-105%);
    }
    .sidenav-overlay
    {
        z-index: 995;
    }
    .sidebar-left,
    .sidebar-right
    {
        float: none !important;
    }
    .sidebar .sidebar-content .sidebar-header
    {
        z-index: -1;
        top: 30px !important;
        /* left: 30px; 不需要缩进 top=20 不一致 改成30 */
    }
    .sidebar .sidebar-content .sidebar-header p,
    .sidebar .sidebar-content .sidebar-header .media-image
    {
        display: none;
    }
    .sidebar .sidebar-content li > a
    {
        height: 2rem;
    }
    .sidebar .sidebar-content li > a > i.material-icons
    {
        line-height: 22px;

        height: 28px;
    }
    .sidebar .sidebar-content li a.collapsible-header i.material-icons
    {
        line-height: 22px;

        height: 28px;
    }
    .sidebar .sidebar-content li.active a i
    {
        color: #fff;
    }
    .sidebar .sidebar-content .sidebar-menu ul
    {
        margin-left: 0rem;
    }
    .sidebar .sidebar-content .sidebar-menu#sidebar-list
    {
        position: absolute;
        top: 56px;
        left: 0;

        overflow: hidden;

        height: -webkit-calc( 100% - 56px) !important;
        height:    -moz-calc( 100% - 56px) !important;
        height:         calc( 100% - 56px) !important;
    }
    .sidebar .sidebar-content .sidebar-menu#sidebar-list .app-sidebar
    {
        position: absolute;
        z-index: 998;
        top: 8px;

        width: 300px;
        height: 100%;
        padding-right: 1rem;
        padding-left: 25px;

        background: #fff;
    }
    .sidebar .sidebar-content .sidenav-trigger
    {
        display: block;
    }
    .sidebar .sidebar-content #sidebar-list.sidebar-show
    {
        z-index: 996;
    }
}

@media (max-width: 600px)
{
    .sidebar .sidebar-content .sidebar-header
    {
        top: 30px !important;
    }
    .sidebar .sidebar-content .sidebar-menu#sidebar-list .app-sidebar
    {
        top: 0;
    }
}
