{% extends 'incidents/base.html' %}
{% load mytags %}

{% block content %}
<div id="sidebar-nav" class="sidebar">
<div class="sidebar-scroll">
    <nav>
    <ul class="nav flex-column ">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link"><i class="lnr lnr-home"></i>Home</a></li>
        <li class="nav-item">
                <a href="#subPages" data-toggle="collapse" class="nav-link active"><i class="lnr lnr-alarm"></i>Incidents <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                <div id="subPages">
                    <ul class="nav flex-column">
                        <li class="nav-item" id="details"><a href="{% url 'detail' %}" class="nav-link">Details</a></li>
                        <li class="nav-item" id="filtering"><a href="{% url 'filtering' %}" class="nav-link active">Filtering</a></li>
                        <li class="nav-item" id="add"><a href="{% url 'add' %}" class="nav-link">Add</a></li>
                    </ul>
                </div>
        </li>
        <li class="nav-item"><a href="{% url 'analysis' %}" class="nav-link"><i class="lnr lnr-chart-bars"></i> Analysis </a></li>
    </ul>
    </nav>
</div>
</div>

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Filtering Incidents</h3>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtering All Events by Conditions</h3>
                </div>
                <div class="panel-body">
                    <form class="mr-auto" action="{% url 'filtering' %}" method="get">
                        {% csrf_token %}
                        <p class="panel-title" style="font-size: large"> BEHAVIOR AGENT </p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="road-label" class="col-form-label"> POSITIVE AGENT </label>
                                <select class="custom-select no-border-form" id='id-positive-agent' name="positive_agent">
                                    <option selected value="All"> All </option>
                                    <option value="Person"> Person </option>
                                    <option value="Animal"> Animal </option>
                                    <option value="Facility"> Facility </option>
                                    <option value="Vehicle"> Vehicle </option>
                                    <option value="Other"> Other </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="road-label" class="col-form-label"> PASSIVE AGENT </label>
                                <select class="custom-select no-border-form" id='id-passive-agent' name="passive_agent">
                                    <option selected value="All"> All </option>
                                    <option value="Person"> Person </option>
                                    <option value="Animal"> Animal </option>
                                    <option value="Facility"> Facility </option>
                                    <option value="Vehicle"> Vehicle </option>
                                    <option value="Other"> Other </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="type-label" class="col-form-label"> VEHICLE TYPE </label>
                                <select class="custom-select no-border-form" id="id-vehicle" name="vehicle">
                                    <option selected value="All"> All </option>
                                    <option value="Car" > Car</option>
                                    <option value="Trunk"> Trunk </option>
                                    <option value="Bus"> Bus </option>
                                    <option value="Bike"> Bike </option>
                                    <option value="Motor"> Motor </option>
                                    <option value="Official Vehicles"> Official Vehicles </option>
                                    <option value="Other"> Other </option>
                                </select>
                            </div>
                        </div>
                        <hr />

                        <p class="panel-title" style="margin-top: 25px; font-size: large"> TIME and LOCATION</p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="datetime-label" class="col-form-label"> DATETIME </label>
                                <input type="text" value="" class="form-control" id="id-datetime" name="datetime">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="type-label" class="col-form-label"> LOCATION </label>
                                <input type="text" class="form-control" id="id-location" name="location"
                                       placeholder="">
                            </div>
                        </div>
                        <hr />

                        <p class="panel-title" style="margin-top: 25px; font-size: large"> CONDITIONS </p>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="type-label" class="col-form-label"> ROAD NAME </label>
                                <input type="text" name="road_name" value="" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="type-label" class="col-form-label"> ROAD TYPE </label>
                                 <select class="custom-select no-border-form" id="id-roadtype" name="road_type">
                                     <option selected value="All"> All </option>
                                     <option value="A" > A </option>
                                     <option value="B"> B </option>
                                     <option value="C"> C </option>
                                     <option value="M"> M </option>
                                     <option value="R"> R </option>
                                     <option value="Other"> Other </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="severity-label" class="col-form-label"> ROAD CONDITION </label>
                                <select class="custom-select no-border-form" id="id-roadcondition" name="road_condition">
                                    <option selected value="All"> All </option>
                                    <option value="Normal"> Normal </option>
                                    <option value="Wet"> Wet </option>
                                    <option value="Freeze"> Freeze </option>
                                    <option value="Dry"> Dry </option>
                                    <option value="Collapse"> Collapse </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="type-label" class="col-form-label"> SPEED LIMIT (km/h) </label>

                                <input type="text" name="speed_limit" id="id-speedlimit" value="" class="form-control">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="type-label" class="col-form-label"> TEMPERATURE (℃) </label>
                                <input type="text" id="id-temperature" name="temperature" value="" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="severity-label" class="col-form-label"> WEATHER </label>
                                <select class="custom-select no-border-form" id="id-weather" name="weather">
                                    <option selected value="All"> All </option>
                                    <option value="Sunny"> Sunny </option>
                                    <option value="Cloudy"> Cloudy </option>
                                    <option value="Rainy"> Rainy </option>
                                    <option value="Windy"> Windy </option>
                                    <option value="Storm"> Storm </option>
                                    <option value="Foggy"> Foggy </option>
                                    <option value="Snowy"> Snowy </option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="severity-label" class="col-form-label"> LIGHT </label>
                                <select class="custom-select no-border-form" id="id-lightcondition" name="light_condition">
                                    <option selected value="All"> All </option>
                                    <option value="Normal"> Normal </option>
                                    <option value="Strong"> Strong </option>
                                    <option value="Dark"> Dark </option>
                                    <option value="Dim"> Dim </option>
                                    <option value="Dazzling"> Dazzling </option>
                                </select>
                            </div>
                        </div>
                        <hr/>

                        <p class="panel-title" style="margin-top: 25px; font-size: large"> Consequence </p>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="type-label" class="col-form-label"> TYPE </label>
                                 <select class="custom-select no-border-form" id="id-type" name="type">
                                     <option selected value="All"> All </option>
                                     <option value="No"> No </option>
                                     <option value="Damage" > Damage </option>
                                     <option value="Injury"> Injury </option>
                                     <option value="Death"> Death </option>
                                     <option value="Broken"> Broken </option>
                                     <option value="Other"> Other </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="severity-label" class="col-form-label"> SEVERITY </label>
                                <select class="custom-select no-border-form" id="id-severity" name="severity">
                                    <option selected value="All"> All </option>
                                    <option value="Severe"> Severe </option>
                                    <option value="Moderate"> Moderate </option>
                                    <option value="Minor"> Minor </option>
                                </select>
                            </div>
                        </div>

                        <hr />
                        <p class="panel-title" style="margin-top: 25px; font-size: large"> PLANNED </p>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="plannedCheck" name="plannedCheck">
                                    <label for="type-label" class="form-check-label"> PLANNED </label>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <select class="custom-select no-border-form" id="id-planned" name="planned" disabled>
                                    <option value="All"> All </option>
                                    <option value="Roadwork"> Road Work </option>
                                    <option value="Traffic Control"> Traffic Control </option>
                                    <option value="Sports Event"> Sports Event </option>
                                    <option value="Other"> Other </option>
                                 </select>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-inine row">

                        <div class="col-md-2">
                            <label for="perpage-label" class="col-form-label">Incidents Per Page</label>
                        </div>
                            <div class="col-md-4">
                                <select class="custom-select no-border-form" id="id-perpage" name="perpage">
                                    <option value="5">5</option>
                                    <option selected value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <div class="col-sm-auto">
                                <span class="input-group-btn"><button type="submit"
                                                                      class="btn btn-primary">Filter!</button></span>
                            </div>
                        </div>

                        <p id="help-text" class="form-text text-muted" style="margin-top: 20px">
                          Leave <strong>blank</strong> or select <strong>All</strong>
                            if you do not want to apply the filtering condition.
                        </p>
                    </form>
                </div>
            </div>
            <div class="panel">
                {% if total_count %}
                <div class="panel-heading">
                    <h4 class="panel-title text-info" id="num_incidents">In all {{ total_count }} incidents with conditions</h4>
                </div>
                {% endif %}
                <div class="panel-body">
                    {% if  condition_values %}
                    <ul>
                        {% for cv in condition_values %}
                        <li><p> {{ cv }}</p></li>
                        {% endfor %}
                    </ul>
                        {% endif %}
                   <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Agent</th>
                                    <th>Vehicle</th>
                                    <th>Speed</th>
                                    <th>Weather</th>
                                    <th>Type</th>
                                    <th>Planned</th>
                                    <th>Severity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inci in incidents %}
                                    <td><a href="{% url 'detail' %}{{ inci.id }}">{{ inci.positive_agent }}</a></td>
                                    <td>{% if inci.vehicle %}
                                        {{ inci.vehicle }}
                                        {% else %}
                                        NA
                                    {% endif %} </td>
                                    <td>{% if inci.speed_limit %}
                                        {{ inci.speed_limit }}
                                        {% else %}
                                        normal
                                    {% endif %} </td>
                                    <td>{% if inci.weather %}
                                        {{ inci.weather }}
                                        {% else %}
                                        normal
                                    {% endif %} </td>
                                    <td>{% if inci.type %}
                                        {{ inci.type }}
                                        {% else %}
                                        NA
                                    {% endif %} </td>

                                    <td><span class="{{ inci.planned_style }}">{{ inci.planned_text }}</span></td>

                                    <td><span class="{{ inci.severity_style }}">{{ inci.severity_text }}</span></td>


                                </tr>
                                {% empty %}
                                    <p style="color: red; margin: 1rem 0" id="empty_incidents">Sorry, there is no qualified incident or internal error!</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if incidents.has_other_pages %}
                        <div class="pagination">
                        <ul class="nav-pagination">
                            {% if incidents.has_previous %}
                                <li class="pagination-icon"><a class="previous" href="?{% url_replace page=incidents.previous_page_number %}"><i class="fas fa-chevron-left"></i></a></li>
                            {% endif %}

                            <span class="current-page">Page {{ incidents.number }} of {{ paginator.num_pages }}</span>

                            {% comment %}{% for i in incidents.paginator.page_range %}
                            {% if incidents.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?{% url_replace page=i %}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}{% endcomment %}

                            {% if incidents.has_next %}
                                <li class="pagination-icon"><a class="next" href="?{% url_replace page=incidents.next_page_number %}"><i class="fas fa-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




