<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 加载 css -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/spectre/spectre.min.css}">
    <link rel="stylesheet" th:href="@{/css/spectre/spectre-exp.min.css}">
    <link rel="stylesheet" th:href="@{/css/spectre/spectre-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- 图标 -->
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/icon.png}">
    <title> Home </title>
</head>

<body>
<div class="container">
    <header class="navbar navbar-header">
        <section class="navbar-section">
            <img class="img-logo" th:src="@{/img/logo.png}">
        </section>
        <section class="navbar-center">
            <!-- centered logo or brand -->
        </section>
        <section class="navbar-section">
            <a th:href="@{/home}" class="btn btn-link"> 主页 </a>
            <a th:href="@{/logout}" class="btn btn-link"> 退出 </a>
        </section>
    </header>

    <div class="content">
        <!-- 默认加载最新新闻 -->
        <div class="latest-news" id="latest-news" th:if="${not #lists.isEmpty(latestNews)}">
            <table class="table">
                <tr><th>id</th><th>新闻标题</th><th>类别</th></tr>
                <tr th:each="news : ${latestNews}">
                    <td th:text="${news.id}"> 0 </td>
                    <td><a th:href="'/news/'+ ${news.id}" th:text="${news.title}"> 标题 </a></td>
                    <td><a th:href="'/category/' + ${news.category}" th:text="${news.categoryText}"> 类别 </a></td>
                </tr>
            </table>
        </div>


    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
