@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Playfair+Display:400,400i,700,700i,900,900i');
body {
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	overflow-x: hidden
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	outline: 0 solid;
}

a:link a:active,
a:visited
{
	text-decoration: none !important;
}


img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 15px;
}

.form-control:focus,
.form-control:active {
	border-color: #ddd
}


img.logo {
	display: inline-block;
}

.m-height-100 {
	height: 80px;
}

.m-height-90 {
	height: 80px;
}

.m-height-80 {
	height: 80px;
}

.header-area {
	background-size: cover;
	background-position: center;
	height: 1080px;
	position: relative;
	z-index: 3;
}

.header-top {
	padding: 48px 0 0;
}

.mainmenu {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap
}

.mainmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.mainmenu li {
	display: inline-block;
	position: relative;
	z-index: 3;
	margin: 0 5px;
}

.mainmenu li a,
.navbar-light .navbar-nav .nav-link {
	display: block;
	/* color: #fff; */
	font-weight: 500;
	padding: 15px;
}

.header-top nav.navbar {
	height: 73px !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #007bff;
}

.mainmenu li:not(:last-child):after {
	position: relative;
	width: 0;
	height: 1px;
	background: transparent;
	content: "";
	transition: all 0.3s ease-in-out;
	display: block;
	margin: 0 auto;
	bottom: 0;
}

.mainmenu li.active:not(:last-child):after,
.mainmenu li:not(:last-child):hover:after {
	width: 100%;
	transition: width 0.3s ease-in-out;
	background: #fff;
}


li.getstart a {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	border: 1px solid transparent;
	border-radius: 50px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	text-align: center;
	margin-top: 5px
}

li.getstart a.active {
	border-color: #007bff;
}

.hero-text-wrapper {
	display: table;
	height: 977px;
	width: 100%;
}

.hero-text-inner {
	display: table-cell;
	vertical-align: middle;
}

.hero-text h6 {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 3;
	letter-spacing: 2px;
}

.hero-text h6:before {
	position: absolute;
	top: 50%;
	left: 2px;
	width: 24px;
	height: 1px;
	background: #fff;
	content: "";
}

.hero-text h1 {
	color: #fff;
	font-weight: 500;
	font-size: 60px;
	line-height: 72px;
	margin-bottom: 25px;
}

.hero-text p {
	color: #fff;
	line-height: 28px;
	font-weight: 400;
	margin-bottom: 50px;
}

a.scroll-down {
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -32px;
	display: inline-block;
	width: 65px;
	height: 65px;
	background: #fff;
	text-align: center;
	line-height: 65px;
	border-radius: 50%;
	color: #9fa4af;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

a.scroll-down:hover {
	background: #6e45e2;
	color: #fff;
}