{% extends 'base.html' %}

{% block content %}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3>About Us</h3>
                    <p class="panel-subtitle">Copyright by someone</p>
                </div>
                <div class="panel-body">
                    <h4>Project</h4>
                    <p>Collecting and analysing traffic information from <a href="http://highways.gov.uk/"> Highways England</a></p>
                    <h4>Contact</h4>
                    <p>Email: <a href="mailto:someone@example.com" target="_blank" rel="external">someone@example.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




